[Unit]
Description=NFC Roon Controller Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/nfc-roon-controller
ExecStart=/home/pi/nfc-roon-controller/venv/bin/python /home/pi/nfc-roon-controller/serveur.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
